root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
# Microsoft C# conventions
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_naming_rule.types_pascal.severity = suggestion

[*.{cshtml,razor,html,css,js,json,yml,yaml,svg}]
indent_size = 2

[*.{csproj,props,targets,slnx,resx}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{sh,ps1}]
indent_size = 4
